/.idea
/.vscode
/.cache
/.mixin.out
/logs
/saves
/mods
/screenshots
/blueprints
/data
/server
/config
/defaultconfigs
/crash-reports
/journeymap
/local
/natives
/modernfix
/patchouli_books
/resourcepacks
/server-resource-packs
/shaderpacks
/trees

**/.DS_Store
/hotbar.nbt

/servers.dat**
/patchouli_data.json

/options.txt
/usercache.json
/usernamecache.json